* {
	box-sizing: border-box;
	color: antiquewhite;
}
body {
	font-family: 'Roboto', Verdana, Helvetica, Arial, sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-width: 320px;
	margin: 0;
	padding: 0;
	background-color: #0f141eb3;
	line-height: 1.5;
}
.header {
	background-color: #0f141e;
	animation: filterRGB 5s ease-in-out infinite;
}
@keyframes filterRGB {
	0% {
		filter: drop-shadow(0px 0px 30px #2196f3);
	}
	33% {
		filter: drop-shadow(0px 0px 30px #e91e63);
	}
	66% {
		filter: drop-shadow(0px 0px 30px #97dc47);
	}
	100% {
		filter: drop-shadow(0px 0px 30px #2196f3);
	}
}
.section {
	margin: 10px;
	width: 45%;
}
.container-main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.navig-list {
	width: calc(100%-40px);
	height: 50px;
	margin: 10px;
	padding: 10px;
	display: flex;
	flex-flow: row wrap;
	list-style: none;
}
.navig-list li {
	margin: 0px 10px 0px;
	cursor: pointer;
	transition: 0.5s;
}
.navig-list a {
	text-decoration: none;
}
.navig-list li:hover {
	transition: 1s;
	transform: scale(1.2);
}
.section-profile {
	width: 100%;
	display: flex;
	margin: 20px 10px 20px;
	justify-content: space-around;
}
.main-info {
	text-align: center;
}
.main-info-subtitle {
	letter-spacing: 3px;
	text-shadow: 2px 2px 2px #0f141e;
}
.main-info-name {
	text-transform: uppercase;
	font-weight: 100;
	font-size: 2em;
	letter-spacing: 5px;
	text-shadow: 2px 2px 2px #0f141e;
	transition: 0.5s;
}
.main-info-name:hover {
	transition: 0.8s;
	transform: scale(1.2);
	filter: drop-shadow(0px 0px 30px antiquewhite);
}
.avatar {
	border-radius: 35%;
	filter: drop-shadow(16px 16px 20px #0f141e);
}
.section {
	border-bottom: 2px solid #2196f3;
	border-top: 2px solid #2196f3;
}
.section h2 {
	font-weight: 100;
	letter-spacing: 2px;
}